*{
    margin: 0;
       padding:0;
       box-sizing:border-box;
   }
   
   body{
    font-family: 'Roboto', sans-serif;
   }
   .flex{
       display:flex;
   }
   .container {
       width:60%
   }

   header{
    color: white;
    background-image: url(jumbo.png) ;
    background-size: cover;
   

   }

   .header_1{
       justify-content: center;
       align-items: center;
   }

   nav{
    padding:20px ;
    width: 70%;
   }

   .left{
      
       justify-content: flex-start;
       align-items:center;
       
   }
   .right{
       display: flex;
       justify-content: flex-end;
       align-items:center;
      
   }
   ul{
       list-style-type: none;
       justify-content: center;
       align-items:center;
       flex-grow: 2;
       gap: 3rem;
   }

   .blue{
       
       justify-content: center;
       align-items: center;
   }
   .testo_header{
       width:40%;
       text-align: center;
       margin:60px  ;
   }
   p{
    margin-top:2rem;
   }
   .bottone{
    border-radius: 15px;
    padding:5px ;
   }
   .header_2 button{
    padding:5px ;
    margin:1rem;
    
   }
   
   .box:nth-child(2n){
       background-color: rgb(148, 144, 144);
   }
   .box{
       padding:20px ;
       justify-content: center;
       align-items: center;
   }
   .central-container{
    
       width:70% ;
       margin: auto;
   }
   #box_centrale{
       flex-direction: row-reverse;
   }
   .light-blue{
    text-align: center;
    
       width:60% ;
   }
   .pink{
    text-align:left;
   
       width: 40%;
   }
   .bigbox-container{
    text-align: center;
       justify-content: center;
       align-items: center;
   }
   .big-box{
       width:70% ;
   }
   .item{
    width:90% ;
   }
   
   footer{
       background-color:rgb(37, 36, 36) ;
       color: white;
   }
      
   #footer_1{
      height:400px ;
      width: 100%;
      border-bottom:2px solid white;
     
   }
   .box-container{
       width:70% ;
       height: 350px;
      margin: auto;
   }
   .pink-box{
       width: 25%;
       height: 100%;
      
   }
   .little-box{
       width:calc(75% / 4) ;
       height:100% ;
   }
   #footer_2{
      height: calc(100% - 400px);
      justify-content: center;
      align-items: flex-end;
   }
   .piccolo_logo{
    width: 70%;
       background-color: aqua;
       justify-content: space-between;
       align-items: center;
   }
   .logo_button{
       background-color: pink;
       border: 1px dashed black;
       width: 7%;
       justify-content: center;
       align-items: center;
   }